*{
    margin: 0 auto;
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

#body{
    overflow:hidden;
}

header{
    margin:10px;
    height:5%;
}

.info {
    float:left;
    position: absolute;
    text-align:right;
}

.nome {
    float:right;
    text-align:left;
    padding-left: 3px;
}

#section {
    width:45%;
    height:300px;
    position: relative;
    top: 10%;
}

#main {
    float:left;
    width:25%;
}

#main-txt {
    width:80%;
    position: relative;
    font-weight:lighter;
    top:27%;
    font-family: sans-serif;
    font-size:20px;
    color: red;
}

iframe{
    width:100%;
    border:none;
    height:500px;
}
table{
    border-collapse:collapse;
    border:1px solid #FFE0B2;
    /*width:500px;
    height:500px;*/
}
table tr td{
    /*border:1px solid lightgray;*/
    border:1px solid #FFE0B2;
    background:#FFFDE7;
    width:32px;
    height:32px;
}
table tr td div{
    width:100%;
    height:100%;
    border:none;
}

.obstaculo{
    width:100%;
    height:100%;
}

.papaleguas {
	background:#FFFDE7;
    width: 100%;
    height: 100%;
}

.way{
    background:#FFFDE7;
}

input[type=text]{
    width:200px;
    margin:0 auto;
    display:inline;
}

#erro {
    width:80%;
}

strong{
    color: #a94442;
}

#loader {
    width:100%;
    position: absolute;
    top:30%;
    margin: 0 auto;
    z-index:-1;
    display:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: lightgray;
    letter-spacing: 2px;
    
}

#loader img {
    width:35%;
}

#loader div { /*texto loading*/
    padding:16px;
    width:100%;
    font-size:21px;
    color:red;
}
#erro {
	width:100%;
    position: absolute;
    top:13%;
    margin: 0 auto;
}

#erro img {
	width:10%;
}

#erro div {
	padding:16px;
    width:100%;
    font-size:21px;
    color:red;
}
