<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css"/>
<script>
    /**
    *   @author Nairan Omura
    *   @since 28/10/2017
    *
    *   @revised by Nairan Omura
    *   @update 26/11/2017
	*
	*	@link https://www.youtube.com/watch?v=DCJcH6LRkJk
    */

/** URL'S 
    *   pega valores digitador pelo usuário via _GET
    *   caso execute o arquivo graph.html diretamente não haverá problemas,
    *   pois, será definido um valor da mesma forma 
    */
    var query = location.search.slice(1);
    var partes = query.split('&');
    var data = {};
    
    partes.forEach(function (parte) {
        var chaveValor = parte.split('=');
        var chave = chaveValor[0];
        var valor = chaveValor[1];
        data[chave] = valor;
    });

    /**
    *   definine valor para ser passado para constante "limite",
    *   verifica se foi passado um valor pelo usuário, caso contrário,
    *   ou o usuário não digitou nada ou o arquivo "graph.html" foi
    *   executado diretamente no navegador, portante, será atribuido 
    *   outro valor no "else" da condição para continuar a execução
    */
    if (data['limite']==undefined){
        var valor = 20;
    }else{
        var valor = data['limite'];
    }

/** VARIÁVEIS E OBJETOS

    *   Cria variáveis,objetos e constantes¹ que serão utilizadas no sistemas
    *   
    *   * As contantes criadas serão utilizadas em todos os loops e 
    *     na animação, principalmente a constante limite**
    *   
    *   ** A constante "limite", limite todos os loops do sistema
    */ 

    /** Objetos */
    var Vertice = function(indice) {
        this.indice = indice;
        this.neighbor=[];
        this.way;
    };
    var Cost = function() {
        this.Vertice;
        this.cost;
    };
    var Prev = function() {
        this.Vertice;
        this.Prev;
    };
    
    /** Constantes */
    const limite = valor;
    const ARESTA_VALUE=1;

    /** Constantes de Imagens utilizadas */
    const OBSTACULO = "img/11555-cactus.png";
    const PAPA_LEGUAS = "img/papaleguas.png";
    const PEGADA_COYOTE_UP = "img/pegada-up.png";
    const PEGADA_COYOTE_DOWN = "img/pegada-down.png";
    const PEGADA_COYOTE_LEFT = "img/pegada-left.png";
    const PEGADA_COYOTE_RIGHT = "img/pegada-right.png";
    const ICONE_COYOTE = "img/coiote.png";
    const IMAGEM_ERRO = "img/erro_1.jpg";
    

    /** Variáveis */
    var contador=0;
    var matriz = new Array(limite);

    /** 
    *   loop para criar array multidimensional (matriz )
    *   cada posição da matriz terá um objeto do tipo "Vertice"
    *   para podermos trabalhar com o Djikstra e com outros métodos
    *
    *   TODO: verificar outra forma de criação de matriz
    *         ex: var matriz = [x][y];
    */
    for (var i=0;i<limite;i++){
        matriz[i] = new Array(limite);
        for (var j=0;j<limite;j++){
            matriz[i][j] = new Vertice(contador);
            contador++;
        }
    }   

    /** define origem e destino da matriz aleatóriamente 
    *   
    *   TODO: ficaram invertidas as coordadas x* e y*;
    *         *verificar as funções de animação no final do arquivo
    */ 
    var x1 = Math.floor(Math.random() * (Math.floor(limite-1) + 1));
    var y1 = Math.floor(Math.random() * (Math.floor(limite-1) + 1));

    var origem=matriz[x1][y1];
    
    var x2 = Math.floor(Math.random() * (Math.floor(limite-1) + 1));
    var y2 = Math.floor(Math.random() * (Math.floor(limite-1) + 1));
    
    var destino=matriz[x2][y2];
    
/** FUNÇÕES (MÉTODOS)

    *   a maioria das funções (exceto as "print" e algumas "set")
    *   servem de base para a função "Djikstra"** no falso main* do arquivo;
    *   
    *   * falso main, pois, o projeto não foi divido em arquivos e métodos
    *   
    *   ** podemos considerar a função Djikstra como base do início do sistema,
    *      pois, ela é que utiliza a maioria das funções criadas
    *   
    *   obs.: caso ocorra algum erro, ou queria debugar o código, um bom lugar para começar
    *         será a chamada da função Djikstra ou a área "main" após as funções,
    *         porque as chamadas na "main" são feitas para prepar variáveis e listas
    *         para a função "Djikstra" 
    */ 

    /**
     *  @param Array*Array 
     *
     *  Função seta aleatóriamente caminhos 'válidos' ou 'inválidos' 
     *  no atributo "way", do método "Vértice" de cada posição da matriz definida
     *  sendo :
     *      0 - para caminho válido
     *      1 - para caminho inválido
     *  
     *  obs.: para aumentar o número de caminhos inválidos, basta tirar 
     *  uma condição "if (number==1)" de dentro dos loops. Caso deseje diminuir
     *  o número de caminhos inválidos, é necessário adicionar mais uma condição.
     */    
    function setWay(matriz){
        for (var i=0;i<limite;i++){
            for (var j=0;j<limite;j++){
                let number=Math.floor(Math.random()*2);
	 				if (number==1){
            				number=Math.floor(Math.random()*2);
         			}

                matriz[i][j].way=number;//bhjnkmjnbhgvcfdxszasdxcfgvbhjnkml,kmjnhbgfvderswdefrgthyjui
            }
        }
    }

    /**
    *   @param Array*Array    
    *
    *   Procura todos os vizinhos de cada posição da matriz, cria uma lista de 
    *   adjacência para cada posição da matriz e atribui a lista ao atributo "neighbor"
    *   de cada posição.
    */
    function getNeighbors(matriz){
        for (var i=0;i<limite;i++){
            for (var j=0;j<limite;j++){
                let contador=0;
                let atual = matriz[i][j];

                if (i-1>=0){
                    if (matriz[i-1][j]!==undefined&&matriz[i-1][j].way!=1){
                        atual.neighbor.push(matriz[i-1][j]);
                        contador++;
                    }
                }
                if (i+1<limite){
                    if (matriz[i+1][j]!==undefined&&matriz[i+1][j].way!=1){
                        atual.neighbor.push(matriz[i+1][j]);
                        contador++;
                    }
                }
                if (j-1>=0){
                    if (matriz[i][j-1]!==undefined&&matriz[i][j-1].way!=1){
                        atual.neighbor.push(matriz[i][j-1]);
                        contador++;
                    }
                }
                if (j+1<limite){
                    if (matriz[i][j+1]!==undefined&&matriz[i][j+1].way!=1){
                        atual.neighbor.push(matriz[i][j+1]);
                        contador++;
                    }
                }
            }
        }
    }

    /**
    *   @param Array*Array
    *   @param Number
    *
    *   Lista o "esqueleto" da matriz, podendo mostrar os caminhos válidos com 0 e 1 ou
    *   mostra cada posição em forma de índice (utilizando o atributo 'indice' do objeto Vertice
    *   atribuido a cada posição da matriz) ou seja em vez de mostrar como "[x][y]", mostra em
    *   sequência (0,1,2,3...)
    *   As opções são:
    *        1 - por Índice
    *        2 - por Caminho
    */
    function printMatrix(matriz,opcao){
        if (opcao==1){
            document.write("<br>Matriz (Índice)<br>")
            for (var i=0;i<limite;i++){
                for (var j=0;j<limite;j++){
                    if (matriz[i][j].indice>9){
                        document.write("|"+matriz[i][j].indice);
                    }else{
                        document.write("| "+matriz[i][j].indice+" ");
                    }
                }
                document.write("<br>");
            }
        }else{
            document.write("<br>Matriz (Caminho)<br>")
            for (var i=0;i<limite;i++){
                for (var j=0;j<limite;j++){
                    document.write("|   "+matriz[i][j].way+"     ");
                }
                document.write("<br>");
            }
        }
    }

    /**
    *   @param Array*Array
    *
    *   Imprime lista de adjacência criada para cada posição, imprime por índice.
    *   Exemplo em uma matriz 4x4 
    *        0 -> 1,4
    *        1 -> 0,2,5
    *           ...
    *        6 -> 2,5,7,10
    */
    function printAdjList(matriz){
        document.write("Lista de Adjacência<br>")
        for (var i=0;i<limite;i++){
            for (var j=0;j<limite;j++){

                let atual =matriz[i][j];
                document.write(atual.indice+"  ->  ");

                for(var x=0;x<atual.neighbor.length;x++){
                    document.write(atual.neighbor[x].indice);
                    if (atual.neighbor.length>x+1)
                        document.write(",");
                }
                document.write("<br>");
            }
        }
    }

    /**
    *   @param Array*Array
    *   @return Array
    *
    *   @used by Dijkstra()
    *
    *   Monta uma Pilha com todos os objetos do tipo "Vertice", de todas as posições
    *   da matriz.
	*
	*	TODO: ***Utilizar outro método no lugar do "Bubblesort"***
    */
    function getObjects(matriz){
        let objects=[];
        var i = 0;
		for(var j = 0; j < limite; j++){
	    		if(j+1 == limite && i+1 != limite){
	    			j=0;
	    			i++;
	    		}else
	    			objects.push(matriz[i][j]);
		}
        return objects;
    }
//         for (var i=0;i<limite;i++){
//             for (var j=0;j<limite;j++){
//                 objects.push(matriz[i][j]);
//             }
//         }
//         return objects;
//     }

    /**
    *   @param Array*Array
    *   @param Number
    *   @return Cost
    *
    *   @used by Dijkstra()
    *
    *   Cria uma lista de custos a partir da matriz principal utilizada pelo sistema.
    *   Função utilizada no início da função 'Djikstra', para definir os custos 
    *   de cada caminho trilhado.
    *
    *   TODO: arrumar nome da variável de retorno, pois, está com o mesmo nome
    *         do atributo de outras variáveis como a "temp".
    */
    function getCost(matriz,origem){
        let cost = [];

        for (var i=0;i<limite;i++){
            for (var j=0;j<limite;j++){
                let atual =matriz[i][j];
                let temp = new Cost();

                temp.Vertice=atual;
                if (atual==origem){
                    temp.cost=ARESTA_VALUE; //constante setada no ínicio do arquivo
                }else{
                    temp.cost=999;
                }
                cost.push(temp);
            }
        }
        return cost;
    }

    /**
    *   @param Array*Array
    *   @return Prev
    *
    *   @used by Dijkstra()
    *
    *   Cria uma lista dos caminhos percorridos pelo algoritmo Djikstra.
    */
	function getPrev(matriz){
        let prev=[];
        for (var i=0;i<limite;i++){
            for (var j=0;j<limite;j++){
                let atual=matriz[i][j];
                let temp = new Prev();

                temp.Vertice=atual;
                prev.push(temp);
            }
        }
        return prev;
	}
        

    /**
    *   @param Vertice
    *   @param Cost
    *   @return Number
    *
    *   @used by getClosest()
    *
    *   Busca o valor de 'cost' no Array que foi passado por parâmetro.
    */
    function ObjectCost(vertice, cost){
        for (var value of cost){
            if (vertice==value.Vertice){
                return value.cost;
            }
        }
    }
    /**
    *   @param Cost
    *   @param Array
    *   @return Vertice
    *
    *   @used by Djikstra()
    *
    *   Busca o elemento de menor custo (do objeto tipo Cost com nome 'cost')
    *   que ainda permanesse na lista de Vertices não visitados com nome 'unvisited'.
    *
    *   TODO: ***Utilizar outro método no lugar do "Bubblesort"***
    */	
    
    function getClosest(cost,unvisited){
        let menor=unvisited[0];
        var i = 0;
		var j = 0;
		var aux1 = unvisited.length;//i
		var aux2 = cost.length;//j
		
		for (i=0;i<aux1;){
			if (unvisited[i]===cost[j].Vertice){
				let var1=ObjectCost(menor,cost);
				let var2 = ObjectCost(unvisited[i],cost);
				if (var1>var2){
					menor=unvisited[i];
					}
				}
			if(j+1 == aux2 && i+1 == aux1){
				return menor;
			}else if(j+1 == aux2 && i+1 != aux1){
				j=0;
				i++;
			} 
			j++
        }
	}
		
	/**
	function getClosest(cost,unvisited){
        let menor=unvisited[0];
        for (var i=0;i<unvisited.length;i++){
            for (var j=0;j<cost.length;j++){
                if (unvisited[i]===cost[j].Vertice){
                    let var1=ObjectCost(menor,cost);
                    let var2 = ObjectCost(unvisited[i],cost);
                    if (var1>var2){
                        menor=unvisited[i];
                    }
                }
            }
        }
       return menor;
    }
	*/

    /**
    *   @return Array
    *   @used by Djisktra()
    *   
    *   Remove objeto passado por parâmetro da Lista de objetos passada por parâmetro.
    */
    function removeObject(List,object){
        let indice = List.indexOf(object);
        
        if ((indice)<0){
            List.shift();
        }else{
            List.splice(indice,1);
        }
        return List;
    }

    /**
    *   @param Cost
    *   @param Vertice
    *
    *   @used by Djikstra()
    */
    function currentCost(cost,near){
        let value=0;
        for (var i=0;i<cost.length;i++){
            if (cost[i].Vertice==near){
                value = cost[i].cost;
            }
        }
        return value;
    }
    /**
    *   @param Prev
    *   @param Vertice
    *   @param Array
    *   @return Array
    *
    *   @used by Djikstra()
    *
    *   Monta uma lista com o menor caminho calculado pela função 'Djikstra'
    */
    function makePathList(prev,no,list){
        if (no.prev==undefined)
            return list;
 
        list.push(no.Vertice.indice);
        makePathList(prev,prev[+no.prev.indice],list);
        return list;
     }

    /**
    *   @param Array*Array
    *   @param Number
	*	
	*	Busca o objeto com o índice passado como parâmetro.
    *
    *   TODO: ***Utilizar outro método no lugar do "Bubblesort"***
    */
    function getObjNumber(matriz,number){
        for (var i=0;i<limite;i++){
            for (var i=0;i<limite;i++){
                let atual=matriz[i][j];
                if(atual.indice==number){
                    return matriz[i][j];
                }
            }
        }
    }

    /**
     * @param Array
     * @param Number
     * @param Number
     * @return Array
     *
     * @link https://www.youtube.com/watch?v=DCJcH6LRkJk
     */
    function Djikstra(matriz, origem, destino){
        let Unvisited = getObjects(matriz);
        let cost = getCost(matriz,origem);
        let prev = getPrev(matriz);
        
        while (Unvisited.length!==0){
            var near = getClosest(cost,Unvisited);
            Unvisited = removeObject(Unvisited,near);

            var adj = near.neighbor;//RETORNA VIZINHOS DE NEAR
            
            for(var neighbor of adj){

                if (near.way==0){
                    var totalCost = currentCost(cost,near)+ARESTA_VALUE;
                }else{
                    var totalCost = currentCost(cost,near)+999;
                }
                
                if (totalCost<currentCost(cost,neighbor)){
                    for (var i=0;i<prev.length;i++){
                        if (prev[i].Vertice==neighbor){
                            prev[i].prev=near;
                        }
                        if (cost[i].Vertice==neighbor){
                            cost[i].cost=totalCost;
                        }
                    }
                }
            }

            if (destino==near){
                return makePathList(prev,prev[destino.indice],new Array());
            }
        }
    }
/**MAIN

    *   Nesse trecho são chamadas todas as funções e setadas as variáveis 
    *   e listar que serão utilizados pelo Djikstra
    *
    *   @see printMatrix()
    */

    /** define os caminhos validos/inválidos */
    setWay(matriz);

    /** 
    *   descobre os vizinhos de cada posição da matriz, ou seja,
    *   cria uma "lista de adjacência", que pode ser vizualizado pela
    *   função "printMatrix()"
    *
    *   @see printMatrix()
    */
    getNeighbors(matriz);

   /** 
    *   Principal função do sistema, retornará o caminho a ser percorrido
    *   na matriz
    */
    var way=Djikstra(matriz,origem,destino);
    document.write("<br>");
    
    /** Exibe informações de origem e destino */
    //document.write("origem: "+origem.indice+
    //"<br>destino: "+destino.indice+
    //"<br>limite: "+limite);



/*TABELA DE REPRESENTAÇÃO

    *   Este trecho do código montará uma tabela em html para 
    *   representar a matriz com os caminhos válidos e inválidos.
    *   Posteriormente será percorrida pela função atribuida à variável "timer"
    *   no último trecho do código para exibição do menor caminho 
    *   encontrado pelo Djikstra().
    */

    let mensagem="";
    let erro=true;

    if (way==undefined){ //verifica se Djikstra() teve retorno
        mensagem = " Houve algum problema na função Djikstra!";
    }else if (way.length<=0){ //verifica caminho inicial
        mensagem=" Impossível concluir o caminho gerado, caminho inicial obstruído";
    }else if(destino.way==1){ //verifica caminho final
        mensagem=" Impossível concluir o caminho gerado, caminho final obstruído";
    }else{
        /**
        *   Caso não haja nenhum problema no Djikstra() será iniciada a construção da 
        *   tabela de representação e setada a variável "erro" como false, pois, essa
        *   é a variável por exibir mensagens de erro no fim do código
        *   caso haja algum problema.
        */
        erro=false;
        var body = document.getElementsByTagName("body")[0];
        var tbl     = document.createElement("table");
        tbl.id="tabela-matriz";
        var tblBody = document.createElement("tbody");

        contador=0;
        for (var i=0;i<limite;i++) {
            var row = document.createElement("tr");
            for (var j=0;j<limite;j++) {
                var cell = document.createElement("td");
                for(temp of way){
                    if (contador==temp||contador==origem.indice||contador==destino.indice){
                        
                        let path="";
                        if (getObjNumber(matriz,contador).way==1){
                            path ="<img class='obstaculo' src='"+OBSTACULO+"' />";
                        }
                        if (x2==i&&y2==j){
                            path ="<img class='papaleguas' src='"+PAPA_LEGUAS+"' />";  
                        }
                        
                        let text ="<div id=way>"+path+"</div>";
                        cell.innerHTML=text;
                    }
                }

                if (cell.innerHTML==""){
                    var path =  (getObjNumber(matriz,contador).way==1)? "<img class='obstaculo' src='"+OBSTACULO+"' />" : "";
                    cell.innerHTML="<div>"+path+"</div>";
                }

                row.appendChild(cell);
                contador++;
            }
            tblBody.appendChild(row);
        }
        tbl.appendChild(tblBody);
        body.appendChild(tbl);
/**ANIMAÇÃO

        *
        */
        var x=y1;
        var y=x1;
        var valida=null;
		var previous=null;
		var fim=false;

        function percorre_y(x,y){
            let mtabela=document.getElementById("tabela-matriz");
            let up,down,left,right;
            let tr = mtabela.firstChild.childNodes[y];
            let div = tr.childNodes[x].firstChild;

            if (previous!=null){ //caminho anterior
                
                let img_pegada="";
                if (valida=="up"){
                    img_pegada = "url('"+PEGADA_COYOTE_UP+"')";
                }else if(valida=="down"){
                    img_pegada = "url('"+PEGADA_COYOTE_DOWN+"')";
                }else if(valida=="left"){
                    img_pegada = "url('"+PEGADA_COYOTE_LEFT+"')";
                }else if(valida=="right"){
                    img_pegada = "url('"+PEGADA_COYOTE_RIGHT+"')";
                }

                previous.style.backgroundImage=img_pegada;
                previous.style.backgroundSize="70% 70%";
                previous.style.backgroundRepeat="no-repeat";
                previous.style.backgroundPosition="center center";
            }

            previous = div; //caminho atual

            if (div.id=="way"){ 
                div.style="background:url('"+ICONE_COYOTE+"');background-size: 100% 100%;";
                div.removeAttribute("id");
            }

            if (mtabela.firstChild.childNodes[y-1]!==undefined){
                up=mtabela.firstChild.childNodes[y-1].childNodes[x].firstChild;//cima
            }
            if (mtabela.firstChild.childNodes[y+1]!==undefined){
                down=mtabela.firstChild.childNodes[y+1].childNodes[x].firstChild;//baixo
            }
            if (mtabela.firstChild.childNodes[y].childNodes[x-1]!==undefined){
                left=mtabela.firstChild.childNodes[y].childNodes[x-1].firstChild;//esquerda
            }
            if (mtabela.firstChild.childNodes[y].childNodes[x+1]!==undefined){
                right=mtabela.firstChild.childNodes[y].childNodes[x+1].firstChild;//direita
            }

            if(right!==undefined&&right.id==="way"){
                valida="right";
            }else if(down!==undefined&&down.id==="way"){
                valida="down";
            }else if(up!==undefined&&up.id==="way"){
                valida="up";
            }else if(left!==undefined&&left.id==="way"){
                valida="left";
            }else{
                valida=false;
            }
			
            return valida;
        }

        var timer = setInterval(function() {

                                        if (y==x2&&x==y2||valida==false){
                                            clearInterval(timer);
											//alert("fim");
                                        }
                                        //alert("valida:"+valida+"\n"+"x:"+x+"\n"+"y:"+y);

                                        valida = percorre_y(x,y);
										
                                        if (valida=="up"){
                                            y--;
                                        }else if (valida=="down"){
                                            y++;
                                        }else if (valida=="left"){
                                            x--;
                                        }else if (valida=="right"){
                                            x++;
                                        }
                                    }, 
                                130);
    }

    /**Mensagem em caso de erro*/
    if (erro==true){
        document.write("<div id=erro>"+
							"<img src='"+IMAGEM_ERRO+"' />"+
							"<div>"+mensagem+"</div>"+
							"<audio autoplay='autoplay' src='audio/Errouu.mp3'></audio>"+
						"</div>");
    }
</script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
